<h1>Filtering and Handling Job Hunter Dataset in America</h1>

Kali ini saya akan memfilter dan handling sebuah dataset yang saya dapat dari Datascientist job Market di Amerika.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Downloads/fulltimeAT.csv')

In [5]:
df.head()

,position,company,description,numreview,location
0,"Senior Scientist, Development",Asuragen,"<span id=""job_summary"" class=""summary""><div><d...",8 reviews,"Austin, TX"
1,Data Software Engineer,Kelvin,"<span id=""job_summary"" class=""summary""><div><b...",5 reviews,"Austin, TX"
2,Bioinformatics Scientist,Premierehire,"<span id=""job_summary"" class=""summary""><p>CONT...",5 reviews,"Austin, TX"
3,Research Engineering/ Scientist Associate II -...,University of Texas at Austin,"<span id=""job_summary"" class=""summary""><div><d...",772 reviews,"Austin, TX"
4,Lead Data Scientist,Clockwork Solutions,"<span id=""job_summary"" class=""summary""><div><p...",5 reviews,"Austin, TX 78746"

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     218 non-null    object
 1   company      218 non-null    object
 2   description  218 non-null    object
 3   numreview    176 non-null    object
 4   location     218 non-null    object
dtypes: object(5)
memory usage: 8.8+ KB

In [10]:
df.columns

Index(['position', 'company', 'description', 'numreview', 'location'], dtype='object')

In [12]:
list_job_object = ['position', 'company', 'description', 'numreview', 'location']
df[list_job_object]

,position,company,description,numreview,location
0,"Senior Scientist, Development",Asuragen,"<span id=""job_summary"" class=""summary""><div><d...",8 reviews,"Austin, TX"
1,Data Software Engineer,Kelvin,"<span id=""job_summary"" class=""summary""><div><b...",5 reviews,"Austin, TX"
2,Bioinformatics Scientist,Premierehire,"<span id=""job_summary"" class=""summary""><p>CONT...",5 reviews,"Austin, TX"
3,Research Engineering/ Scientist Associate II -...,University of Texas at Austin,"<span id=""job_summary"" class=""summary""><div><d...",772 reviews,"Austin, TX"
4,Lead Data Scientist,Clockwork Solutions,"<span id=""job_summary"" class=""summary""><div><p...",5 reviews,"Austin, TX 78746"
...,...,...,...,...,...
217,Data Scientist,KEYW Corporation,"<span id=""job_summary"" class=""summary""><div><h...",30 reviews,"Austin, TX"
218,Data Scientist,Applied Systems Inc.,"<span id=""job_summary"" class=""summary""><div><h...",74 reviews,"Austin, TX"
219,Data Scientist,SHI International Corp.,"<span id=""job_summary"" class=""summary""><div><h...",177 reviews,"Austin, TX"
220,Data Scientist,BlackLocus,"<span id=""job_summary"" class=""summary"">About B...",NaN,"Austin, TX 78701"
221,"Junior Data Scientist, Dell HR - Talent Acquis...",DELL,"<span id=""job_summary"" class=""summary""><div><p...","8,380 reviews","Austin, TX"

In [11]:
list_job_object = ['position', 'company', 'description', 'numreview', 'location']
df[list_job_object].describe()

,position,company,description,numreview,location
count,218,218,218,176,218
unique,202,111,217,72,23
top,Data Scientist,University of Texas at Austin,"<span id=""job_summary"" class=""summary""><div><p...",772 reviews,"Austin, TX"
freq,7,23,2,23,156

In [13]:
filter_null_all_columns = df.isnull().any(axis=1)
df[filter_null_all_columns]

,position,company,description,numreview,location
5,GIS Analyst and Research Associate,Banks Environmental Data,"<span id=""job_summary"" class=""summary""><p>Bank...",NaN,"Austin, TX 78701"
7,ML Engineer,Cognitive Scale,"<span id=""job_summary"" class=""summary"">We live...",NaN,"Austin, TX"
8,Product Owner,Valassis Digital,"<span id=""job_summary"" class=""summary""><div><d...",NaN,"Austin, TX 78759"
10,Senior Technical Writer,Cognitive Scale,"<span id=""job_summary"" class=""summary"">We live...",NaN,"Austin, TX"
18,Data Analyst - Public Education Data Analysis,Legislative Budget Board,"<span id=""job_summary"" class=""summary""><div><d...",NaN,"Austin, TX"
25,Senior Machine Learning Engineer,"New Iron Group, Inc.","<span id=""job_summary"" class=""summary""><div><p...",NaN,"Austin, TX 78702"
26,Laboratory Supervisor / Hematology,Lighthouse Lab Services,"<span id=""job_summary"" class=""summary"">Calling...",NaN,"Austin, TX 78754"
31,Research Scientist (Neuroscience),Senseye,"<span id=""job_summary"" class=""summary""><div><h...",NaN,"Austin, TX"
33,NaN,NaN,NaN,NaN,NaN
35,Senior Data Scientist,HireStarter,"<span id=""job_summary"" class=""summary""><p>Hire...",NaN,"Austin, TX 78751"
36,Research Analyst In-House Counsel,Deeter Investments LLP,"<span id=""job_summary"" class=""summary""><p><b>J...",NaN,"Austin, TX"
51,Research Scientist (Vision Science),Senseye,"<span id=""job_summary"" class=""summary""><div><h...",NaN,"Austin, TX"
62,NaN,NaN,NaN,NaN,NaN
71,Quantitative Analyst - Bank Financial Risk,RockBridge Search & Recruitment,"<span id=""job_summary"" class=""summary"">This Qu...",NaN,"Austin, TX"
79,Research Analyst - Advanced Analytics,Schireson,"<span id=""job_summary"" class=""summary"">Who We’...",NaN,"Austin, TX"
95,"Account Manager (Austin, TX)",KNIME,"<span id=""job_summary"" class=""summary"">We are ...",NaN,"Austin, TX"
101,Quantitative Marketing Analyst,LawnStarter,"<span id=""job_summary"" class=""summary""><div><p...",NaN,"Austin, TX"
104,Machine Learning Research Scientist,Cognitive Scale,"<span id=""job_summary"" class=""summary"">We live...",NaN,"Austin, TX"
106,Sr. Data Scientist/Modeling & Simulation Engin...,B3 Group Inc,"<span id=""job_summary"" class=""summary""><div><p...",NaN,"Austin, TX 78744"
108,Sales Development Representative,Dremio,"<span id=""job_summary"" class=""summary""><div><d...",NaN,"Austin, TX"
115,Senior Data Warehouse Analyst,T3,"<span id=""job_summary"" class=""summary"">T3 is l...",NaN,"Austin, TX"
117,Machine Learning Developer – Reinforcement Lea...,Inzone,"<span id=""job_summary"" class=""summary""><div><p...",NaN,"Austin, TX"
121,Technical Writer,Cognitive Scale,"<span id=""job_summary"" class=""summary"">We live...",NaN,"Austin, TX"
123,"Technical Account Manager (Austin, TX)",KNIME,"<span id=""job_summary"" class=""summary"">We are ...",NaN,"Austin, TX"
128,Front End Software Engineer,Novi Labs,"<span id=""job_summary"" class=""summary"">About N...",NaN,"Austin, TX 78723"
131,Senior Business Intelligence Analyst,PLAYSTUDIOS Inc,"<span id=""job_summary"" class=""summary""><b>Desc...",NaN,"Austin, TX 78701"
134,Sr. Engineering Analyst/Sr. Data Engineer,B3 Group Inc,"<span id=""job_summary"" class=""summary""><div><p...",NaN,"Austin, TX 78744"
138,Big Data Pipeline Software Engineer - Java/Scala,Dau International LLC,"<span id=""job_summary"" class=""summary"">All dat...",NaN,"Austin, TX"
142,AI Strategy Consultant - Digital Commerce,Cognitive Scale,"<span id=""job_summary"" class=""summary"">We live...",NaN,"Austin, TX"
143,"Senior Consultant, Advanced Analytics",fractalanalytics,"<span id=""job_summary"" class=""summary""><div><p...",NaN,"Austin, TX"
148,Senior Director of Big Data Science & Analytics,RecruiterDNA,"<span id=""job_summary"" class=""summary"">Job des...",NaN,"Austin, TX"
151,AI Strategy Consultant - Financial Services,Cognitive Scale,"<span id=""job_summary"" class=""summary"">We live...",NaN,"Austin, TX"
155,"Data and Analytics Engineer, Python Developer",Sensoleak,"<span id=""job_summary"" class=""summary""><p>Sens...",NaN,"Austin, TX"
159,Director of Product Development,Valassis Digital,"<span id=""job_summary"" class=""summary""><div><d...",NaN,"Austin, TX 78759"
163,Software Engineer III,BlackLocus,"<span id=""job_summary"" class=""summary"">About B...",NaN,"Austin, TX 78701"
172,Senior Data Scientist,Valkyrie Intelligence,"<span id=""job_summary"" class=""summary""><p><b>S...",NaN,"Austin, TX"
175,Data Scientist,"ScaleFactor, Inc.","<span id=""job_summary"" class=""summary"">If you ...",NaN,"Austin, TX"
179,Senior Data Scientist,SPK Consultants Inc,"<span id=""job_summary"" class=""summary""><p><b>S...",NaN,"Austin, TX"
184,QA Lead,Cognitive Scale,"<span id=""job_summary"" class=""summary"">We live...",NaN,"Austin, TX"
197,NaN,NaN,NaN,NaN,NaN
203,"Manager, Polymer Process Development (Research...","ICU Medical, Inc.","<span id=""job_summary"" class=""summary""><div><d...",NaN,"Austin, TX"
206,Senior Software Engineer,BlackLocus,"<span id=""job_summary"" class=""summary"">About B...",NaN,"Austin, TX 78701"
211,"Data Scientist, Austin",Code Pilot,"<span id=""job_summary"" class=""summary"">-------...",NaN,"Austin, TX"
212,Data Scientist,Atlas Wearables,"<span id=""job_summary"" class=""summary""><p>You ...",NaN,"Austin, TX"
213,NaN,NaN,NaN,NaN,NaN
220,Data Scientist,BlackLocus,"<span id=""job_summary"" class=""summary"">About B...",NaN,"Austin, TX 78701"

In [14]:
df_clean = df.copy()
df_clean['position'] = df['position'].fillna('blank',axis=0,inplace=False)
df_clean

,position,company,description,numreview,location
0,"Senior Scientist, Development",Asuragen,"<span id=""job_summary"" class=""summary""><div><d...",8 reviews,"Austin, TX"
1,Data Software Engineer,Kelvin,"<span id=""job_summary"" class=""summary""><div><b...",5 reviews,"Austin, TX"
2,Bioinformatics Scientist,Premierehire,"<span id=""job_summary"" class=""summary""><p>CONT...",5 reviews,"Austin, TX"
3,Research Engineering/ Scientist Associate II -...,University of Texas at Austin,"<span id=""job_summary"" class=""summary""><div><d...",772 reviews,"Austin, TX"
4,Lead Data Scientist,Clockwork Solutions,"<span id=""job_summary"" class=""summary""><div><p...",5 reviews,"Austin, TX 78746"
...,...,...,...,...,...
217,Data Scientist,KEYW Corporation,"<span id=""job_summary"" class=""summary""><div><h...",30 reviews,"Austin, TX"
218,Data Scientist,Applied Systems Inc.,"<span id=""job_summary"" class=""summary""><div><h...",74 reviews,"Austin, TX"
219,Data Scientist,SHI International Corp.,"<span id=""job_summary"" class=""summary""><div><h...",177 reviews,"Austin, TX"
220,Data Scientist,BlackLocus,"<span id=""job_summary"" class=""summary"">About B...",NaN,"Austin, TX 78701"
221,"Junior Data Scientist, Dell HR - Talent Acquis...",DELL,"<span id=""job_summary"" class=""summary""><div><p...","8,380 reviews","Austin, TX"

In [26]:
df_clean_company = df_clean.copy()
df_clean_company['company'] = df_clean['company'].fillna('blank',inplace=False)
df_clean_company

,position,company,description,numreview,location
0,"Senior Scientist, Development",Asuragen,"<span id=""job_summary"" class=""summary""><div><d...",8 reviews,"Austin, TX"
1,Data Software Engineer,Kelvin,"<span id=""job_summary"" class=""summary""><div><b...",5 reviews,"Austin, TX"
2,Bioinformatics Scientist,Premierehire,"<span id=""job_summary"" class=""summary""><p>CONT...",5 reviews,"Austin, TX"
3,Research Engineering/ Scientist Associate II -...,University of Texas at Austin,"<span id=""job_summary"" class=""summary""><div><d...",772 reviews,"Austin, TX"
4,Lead Data Scientist,Clockwork Solutions,"<span id=""job_summary"" class=""summary""><div><p...",5 reviews,"Austin, TX 78746"
...,...,...,...,...,...
217,Data Scientist,KEYW Corporation,"<span id=""job_summary"" class=""summary""><div><h...",30 reviews,"Austin, TX"
218,Data Scientist,Applied Systems Inc.,"<span id=""job_summary"" class=""summary""><div><h...",74 reviews,"Austin, TX"
219,Data Scientist,SHI International Corp.,"<span id=""job_summary"" class=""summary""><div><h...",177 reviews,"Austin, TX"
220,Data Scientist,BlackLocus,"<span id=""job_summary"" class=""summary"">About B...",NaN,"Austin, TX 78701"
221,"Junior Data Scientist, Dell HR - Talent Acquis...",DELL,"<span id=""job_summary"" class=""summary""><div><p...","8,380 reviews","Austin, TX"

In [27]:
df_clean_numreview = df_clean_company.copy()
df_clean_numreview['numreview'] = df_clean_company['numreview'].fillna('0 reviews',inplace=False)
df_clean_numreview

,position,company,description,numreview,location
0,"Senior Scientist, Development",Asuragen,"<span id=""job_summary"" class=""summary""><div><d...",8 reviews,"Austin, TX"
1,Data Software Engineer,Kelvin,"<span id=""job_summary"" class=""summary""><div><b...",5 reviews,"Austin, TX"
2,Bioinformatics Scientist,Premierehire,"<span id=""job_summary"" class=""summary""><p>CONT...",5 reviews,"Austin, TX"
3,Research Engineering/ Scientist Associate II -...,University of Texas at Austin,"<span id=""job_summary"" class=""summary""><div><d...",772 reviews,"Austin, TX"
4,Lead Data Scientist,Clockwork Solutions,"<span id=""job_summary"" class=""summary""><div><p...",5 reviews,"Austin, TX 78746"
...,...,...,...,...,...
217,Data Scientist,KEYW Corporation,"<span id=""job_summary"" class=""summary""><div><h...",30 reviews,"Austin, TX"
218,Data Scientist,Applied Systems Inc.,"<span id=""job_summary"" class=""summary""><div><h...",74 reviews,"Austin, TX"
219,Data Scientist,SHI International Corp.,"<span id=""job_summary"" class=""summary""><div><h...",177 reviews,"Austin, TX"
220,Data Scientist,BlackLocus,"<span id=""job_summary"" class=""summary"">About B...",0 reviews,"Austin, TX 78701"
221,"Junior Data Scientist, Dell HR - Talent Acquis...",DELL,"<span id=""job_summary"" class=""summary""><div><p...","8,380 reviews","Austin, TX"

In [28]:
df_clean_location = df_clean_numreview.copy()
df_clean_location['location'] = df_clean_numreview['location'].fillna('Blank',inplace=False)
df_clean_location

,position,company,description,numreview,location
0,"Senior Scientist, Development",Asuragen,"<span id=""job_summary"" class=""summary""><div><d...",8 reviews,"Austin, TX"
1,Data Software Engineer,Kelvin,"<span id=""job_summary"" class=""summary""><div><b...",5 reviews,"Austin, TX"
2,Bioinformatics Scientist,Premierehire,"<span id=""job_summary"" class=""summary""><p>CONT...",5 reviews,"Austin, TX"
3,Research Engineering/ Scientist Associate II -...,University of Texas at Austin,"<span id=""job_summary"" class=""summary""><div><d...",772 reviews,"Austin, TX"
4,Lead Data Scientist,Clockwork Solutions,"<span id=""job_summary"" class=""summary""><div><p...",5 reviews,"Austin, TX 78746"
...,...,...,...,...,...
217,Data Scientist,KEYW Corporation,"<span id=""job_summary"" class=""summary""><div><h...",30 reviews,"Austin, TX"
218,Data Scientist,Applied Systems Inc.,"<span id=""job_summary"" class=""summary""><div><h...",74 reviews,"Austin, TX"
219,Data Scientist,SHI International Corp.,"<span id=""job_summary"" class=""summary""><div><h...",177 reviews,"Austin, TX"
220,Data Scientist,BlackLocus,"<span id=""job_summary"" class=""summary"">About B...",0 reviews,"Austin, TX 78701"
221,"Junior Data Scientist, Dell HR - Talent Acquis...",DELL,"<span id=""job_summary"" class=""summary""><div><p...","8,380 reviews","Austin, TX"